flows/Concierge_Courier_Requests.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_the_Test_Time</name>
        <label>Update the Test Time</label>
        <locationX>666</locationX>
        <locationY>2774</locationY>
        <actionName>UpdateRecordTimeValue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>are_there_participants_to_created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dateTimeValue</name>
            <value>
                <elementReference>Testing_Date_Time</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Testing_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varTestingRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Test_Time__c</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>754</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>varParticipantRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varParticipantTestingRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_drop_off_fields</name>
        <label>assign drop-off fields</label>
        <locationX>578</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>varTestingRequest.Lab_Drop_off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Courier_Drop_Off_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlternateLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Testing_Request</name>
        <label>Assign Fields to Testing Request</label>
        <locationX>798</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>varTestingRequest.Account_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Courier_Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Courier_Requestor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Onsite_Pickup_Point_of_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onsite_Pickup_Point_of_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Courier_Point_of_Contact_Cell_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Courier_Point_of_Contact_Cell_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Courier_Drop_Off_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Courier_Drop_Off_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Courier_Point_of_Contact_Cell_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Courier_Point_of_Contact_Cell_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Requestor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Requestor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Requestor_Cell_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestorPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Courier_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Courier_Pickup_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Courier_Pickup_Time_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Drop_off_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields_to_Testing_Request_Concierge</name>
        <label>Assign Fields to Testing Request</label>
        <locationX>655</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varTestingRequest.Account_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Production</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Requestor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Requestor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Requestor_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Requestor_Cell_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestorPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConciergeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Lab_and_Test_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lab_and_Test_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Clinician_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Test_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Test_Time_Zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Testing_Time_Zone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Sample_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_tests_should_each_participant_receive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Date_Results_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Results_Needed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumOfLoopsToRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_participants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTestingRequest.Pickup_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_number_to_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_number_to_Loop</name>
        <label>Assign number to Loop</label>
        <locationX>655</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varNumOfLoopsToRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Stage_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_This_Contact</name>
        <label>Assign to This Contact</label>
        <locationX>314</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>varThisContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIrst_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParticipantRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.AssistantName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternate_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varThisContact.Asst_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternate_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_in_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_Participant_Request_Record</name>
        <label>Create a Participant Request Record</label>
        <locationX>754</locationX>
        <locationY>3350</locationY>
        <assignmentItems>
            <assignToReference>varParticipantTestingRequest.Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_each_new_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantTestingRequest.Testing_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTestingRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varParticipantTestingRequest.Alternate_Name_and_Contact_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!for_each_new_contact.AssistantName}&amp;&quot; &quot;&amp;{!for_each_new_contact.Asst_Email__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Concierge</name>
        <label>Current_Stage_Concierge</label>
        <locationX>798</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Concierge_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Courier_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Participants</name>
        <label>Current_Stage_Participants</label>
        <locationX>655</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Participant_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentStage_Confirmation</name>
        <label>CurrentStage_Confirmation</label>
        <locationX>798</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SuccessText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentStage_RequestType</name>
        <label>CurrentStage_RequestType</label>
        <locationX>886</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement_Loops_to_Run</name>
        <label>Decrement Loops to Run</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>varNumOfLoopsToRun</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIterationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Number_of_Participants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_in_List</name>
        <label>Put in Lists</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varContactsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varThisContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decrement_Loops_to_Run</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Concierge_Stage</name>
        <label>Remove Concierge Stage</label>
        <locationX>1194</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>varStageCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStages</name>
        <label>SetStages</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Concierge_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Concierge_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Courier_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stages</name>
        <label>Update_Stages</label>
        <locationX>655</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Testing_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Testing_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Participant_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Concierge_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concierge_Testing_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlternateLocation</name>
        <choiceText>Alternate Location</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Courier Drop-Off Address</promptText>
        </userInput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AtLab</name>
        <choiceText>at Lab selected above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>varFemale</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>varMale</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>varUnknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>U</stringValue>
        </value>
    </choices>
    <decisions>
        <name>are_there_participants_to_created</name>
        <label>are there participants to created</label>
        <locationX>798</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>CurrentStage_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Participants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactsToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contacts</targetReference>
            </connector>
            <label>Yes, Participants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Courier_Needed</name>
        <label>Courier Needed</label>
        <locationX>996</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Remove_Concierge_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Courier_IS_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Courier_Needed_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Stage_Concierge</targetReference>
            </connector>
            <label>Courier Is Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drop_off_Location</name>
        <label>Drop-off Location</label>
        <locationX>798</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Create_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>At_Lab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lab_Drop_off</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AtLab</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_drop_off_fields</targetReference>
            </connector>
            <label>At Lab</label>
        </rules>
        <rules>
            <name>another_place</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lab_Drop_off</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AtLab</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lab_Drop_off</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Request</targetReference>
            </connector>
            <label>another place</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Test_Time_entered</name>
        <label>if Test Time entered</label>
        <locationX>798</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>are_there_participants_to_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Test_Time_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Testing_Date_Time</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Test_Time</targetReference>
            </connector>
            <label>Test Time exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Participants</name>
        <label>Number of Participants</label>
        <locationX>655</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>No_More_Contacts_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumOfLoopsToRun</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Participant_Info_Screen</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>886</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CourierOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_Service_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Courier Only Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStages</targetReference>
            </connector>
            <label>Courier Only</label>
        </rules>
        <rules>
            <name>Concierge_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_Service_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concierge Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stages</targetReference>
            </connector>
            <label>Concierge Testing</label>
        </rules>
        <rules>
            <name>Participant_Sample_Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_Service_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Participant Sample Pickup</stringValue>
                </rightValue>
            </conditions>
            <label>Participant Sample Pickup</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Clinician_Choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Allproductsandservicesreviewed__c</picklistField>
        <picklistObject>Program_Quality_Management__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnicity__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LabTestChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lab_and_Test_Type__c</picklistField>
        <picklistObject>Testing_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Locations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account_Company__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Concierge_Courier_Options__c</picklistField>
        <picklistObject>Testing_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shortTimeZoneList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Test_Time_Zone__c</picklistField>
        <picklistObject>Testing_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZoneChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varCourierRequestorChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Courier_Requestor__c</picklistField>
        <picklistObject>Testing_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>for Assistants, etc</description>
        <name>AltNameandContact</name>
        <dataType>String</dataType>
        <expression>{!varThisContact.AssistantName}&amp;&quot; &quot;&amp;{!varThisContact.AssistantPhone}</expression>
    </formulas>
    <formulas>
        <name>PickupDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Courier_Pickup_Time_Date})</expression>
    </formulas>
    <formulas>
        <name>TestDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Testing_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>TestTime</name>
        <dataType>String</dataType>
        <expression>MID (TEXT ( {!Testing_Date_Time} ), 12, 5)+&quot;:00.000&quot;</expression>
    </formulas>
    <formulas>
        <name>varRequestorEmail</name>
        <dataType>String</dataType>
        <expression>if(contains({!$UserRole.Name},&apos;Guest&apos;),&quot;&quot;,{!$User.Email})</expression>
    </formulas>
    <formulas>
        <name>varRequestorName</name>
        <dataType>String</dataType>
        <expression>if(contains({!$UserRole.Name},&apos;Guest&apos;),&quot;&quot;,{!$User.Full_Name__c})</expression>
    </formulas>
    <formulas>
        <name>varRequestorPhone</name>
        <dataType>String</dataType>
        <expression>if(contains({!$UserRole.Name},&apos;Guest&apos;),&quot;&quot;,{!$User.MobilePhone})</expression>
    </formulas>
    <interviewLabel>Concierge &amp; Courier Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Concierge &amp; Courier Requests</label>
    <loops>
        <name>for_each_new_contact</name>
        <label>for each new contact</label>
        <locationX>666</locationX>
        <locationY>3230</locationY>
        <collectionReference>varContactsToAdd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_Participant_Request_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Participant_Request_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contacts</name>
        <label>Create New Contacts</label>
        <locationX>666</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>for_each_new_contact</targetReference>
        </connector>
        <inputReference>varContactsToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Participant_Request_records</name>
        <label>Create Participant Request records</label>
        <locationX>666</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>CurrentStage_Confirmation</targetReference>
        </connector>
        <inputReference>varParticipantRequests</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>798</locationX>
        <locationY>2534</locationY>
        <connector>
            <targetReference>if_Test_Time_entered</targetReference>
        </connector>
        <inputReference>varTestingRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetConciergeRecordType</name>
        <label>GetConciergeRecordType</label>
        <locationX>655</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ShowFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Concierge_Testing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCourierRecordType</name>
        <label>GetCourierRecordType</label>
        <locationX>798</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fields_to_Testing_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Courier_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParticipantRecordType</name>
        <label>GetParticipantRecordType</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_This_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Concierge_Testing_Screen</name>
        <label>Concierge Testing Screen</label>
        <locationX>655</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetConciergeRecordType</targetReference>
        </connector>
        <fields>
            <name>ConciergeTestingHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana; font-size: 16px;&quot;&gt;Concierge Testing Request&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Clinician_Request</name>
            <fieldText>Clinician Request</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Clinician_Request_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clinician_Required_dropbox</name>
                    <choiceReferences>Clinician_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Unverified</stringValue>
                    </defaultValue>
                    <fieldText>Clinician Required</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Clinician_Request_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTestingRequest.Comments_for_Clinician__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Clinician_Required_dropbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Testing_Details</name>
            <fieldText>Testing Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Testing_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Testing_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Testing Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Testing_Time_Zone</name>
                    <choiceReferences>shortTimeZoneList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Testing Time Zone</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Testing_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_many_tests_should_each_participant_receive</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>2.0</numberValue>
                    </defaultValue>
                    <fieldText>How many tests should each participant receive?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;NOTE: We default to providing 2 tests for Concierge Testing&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Date_Results_Needed</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Results Needed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTestingRequest.Expedite_Testing__c</objectFieldReference>
                </fields>
                <fields>
                    <name>TAT_warning</name>
                    <fieldText>&lt;p&gt;Selecting &quot;Expediting Testing Results TAT&quot; will shorten the testing result to 12-14 Hours for Fulgent CA and Biomeme Testing upon check-in by the lab vs the standard 24 Hour resulting timeframe.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;NOTE&lt;/strong&gt;: Expedited testing can result in increased costs.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pickup_Information</name>
            <fieldText>Pickup Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pickup_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TestingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Testing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputProvinceOptions</name>
                        <value>
                            <elementReference>$User.State</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Participant_Information</name>
            <fieldText>Participant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Participant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>How_many_participants</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>How many participants?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Participant_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Participant_Warning</name>
                    <fieldText>&lt;p&gt;Participants added MUST be at the same location, if not, please complete a separate form for pickup.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Courier_Screen</name>
        <label>Courier Screen</label>
        <locationX>798</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCourierRecordType</targetReference>
        </connector>
        <fields>
            <name>Courier_Services</name>
            <fieldText>Courier Services</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Courier_Services_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Courier_Requestor</name>
                    <choiceReferences>varCourierRequestorChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Courier Requestor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Courier_Pickup_Time_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Courier Pickup Time &amp; Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varTestingRequest.Test_Time__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Courier_Pickup_Time_Zone</name>
                    <choiceReferences>shortTimeZoneList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Courier Pickup Time Zone</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varTestingRequest.Test_Time_Zone__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Courier_Services_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varTestingRequest.Courier_Scenario__c</objectFieldReference>
                </fields>
                <fields>
                    <name>PickupAddressCourierScreen</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Pickup Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varTestingRequest.Pickup_Address__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Courier_Pickup_Info</name>
            <fieldText>Courier Pickup Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Courier_Pickup_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Onsite_Pickup_Point_of_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>Onsite Pickup Point of Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Courier_Pickup_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Courier_Point_of_Contact_Cell_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Courier Point of Contact Cell Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Courier_Drop_off_Information</name>
            <fieldText>Courier Drop-off Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Courier_Drop_off_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lab_Drop_off</name>
                    <choiceReferences>AtLab</choiceReferences>
                    <choiceReferences>AlternateLocation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>AtLab</defaultSelectedChoiceReference>
                    <fieldText>Drop-off Location</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Courier_Drop_off_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Courier_Drop_Off_Contact</name>
                    <dataType>String</dataType>
                    <fieldText>Courier Drop-Off Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lab_Drop_off</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>AtLab</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Drop_Off_Point_of_Contact_Cell_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Drop-Off Point of Contact Cell Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lab_Drop_off</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>AtLab</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_More_Contacts_Page</name>
        <label>No More Contacts Page</label>
        <locationX>996</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Courier_Needed</targetReference>
        </connector>
        <fields>
            <name>SummaryInfoText</name>
            <fieldText>&lt;p&gt;Summary Info will go here to confirm contact and participant details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_varContactsToAdd</name>
            <fieldText>&lt;p&gt;{!varContactsToAdd}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Courier_Needed_Field</name>
            <dataType>Boolean</dataType>
            <fieldText>Courier Needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Participant_Info_Screen</name>
        <label>Participant Info Screen</label>
        <locationX>314</locationX>
        <locationY>1478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetParticipantRecordType</targetReference>
        </connector>
        <fields>
            <name>ParticipantCountDisplay</name>
            <fieldText>&lt;p&gt;Search for Participant #{!varIterationCount}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_New_Participant_Info</name>
            <fieldText>Enter New Participant Info for #{!varIterationCount}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_New_Participant_Info_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FIrst_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>participant@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email (for checking test results)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_New_Participant_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Alternate_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Alternate Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Alternate_Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Alternate Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>assistant@example.com</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>886</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <fields>
            <name>Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConciergeRequestHelp</name>
                    <fieldText>&lt;p&gt;Concierge Request&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Deliver and/or pick up test kit from participant(s) location and deliver to a lab.&lt;/li&gt;&lt;li&gt;Schedule a Clinician to administer test(s) at participant&apos;s location (when required).&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Courier_Only_Explanation</name>
                    <fieldText>&lt;p&gt;Courier-Only Request&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Pick up and/or drop off test kits, materials or resources related to testing.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_the_Service_Needed</name>
                    <choiceReferences>ServiceTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the Service Needed</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Lab_and_Test_Type</name>
                    <choiceReferences>LabTestChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lab and Test Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Production</name>
                    <choiceReferences>Locations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Production</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Requestor_Information</name>
            <fieldText>Requestor Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Requestor_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requestor_Name</name>
                    <defaultValue>
                        <stringValue>{!varRequestorName}</stringValue>
                    </defaultValue>
                    <fieldText>Requestor Name</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Requestor_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requestor_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>$User.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varRequestorEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requestor Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RequestorPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requestor Cell Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <elementReference>$User.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varRequestorPhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowFields</name>
        <label>ShowFields</label>
        <locationX>655</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Fields_to_Testing_Request_Concierge</targetReference>
        </connector>
        <fields>
            <name>ShowDateTimeFields</name>
            <fieldText>&lt;p&gt;From Testing Date/Time Field Input: {!Testing_Date_Time}&lt;/p&gt;&lt;p&gt;From Test Date Formula:  {!TestDate}&lt;/p&gt;&lt;p&gt;From Test Time Formula: {!TestTime}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessText</name>
        <label>SuccessText</label>
        <locationX>798</locationX>
        <locationY>4022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessTexttxt</name>
            <fieldText>&lt;p&gt;Your request was created successfully. Please check your email for confirmation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Concierge_Details</name>
        <isActive>true</isActive>
        <label>Concierge Details</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Confirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>25</stageOrder>
    </stages>
    <stages>
        <name>Participant_Details</name>
        <isActive>false</isActive>
        <label>Participant Details</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Request_Type</name>
        <isActive>true</isActive>
        <label>Request Type</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Testing_Details_Stage</name>
        <isActive>false</isActive>
        <label>Testing Details</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CurrentStage_RequestType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContactsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varIterationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumOfLoopsToRun</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varParticipantRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant_Test_Request__c</objectType>
    </variables>
    <variables>
        <name>varParticipantTestingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant_Test_Request__c</objectType>
    </variables>
    <variables>
        <name>varStageCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTestingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Testing_Request__c</objectType>
    </variables>
    <variables>
        <name>varTestingRequestsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant_Test_Request__c</objectType>
    </variables>
    <variables>
        <name>varThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
