flows/Testing_Request_On_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Steve_on_Every_CHange</name>
        <label>Email Steve on Every CHange</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>Testing_Request__c.Email_on_Every_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BioIQ_Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BioIQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <label>Scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Testing Request On Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Testing Request On Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Steve_on_Every_CHange</targetReference>
        </connector>
        <object>Testing_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X24_hours_before_testing</name>
            <label>24 hours before testing</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Testing_Date_Time_UTC_Formula__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
